[Unit]
Description=Update your hosts file without having to worry

[Service]
Type=oneshot
ExecStart=/usr/bin/blockade update-hosts

[Install]
WantedBy=multi-user.target
