[Unit]
Description=Update your hosts file without having to worry

[Timer]
Unit=blockade-monthly.service
OnCalendar=monthly
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
